	/* 레이아웃 css 파일 */
	
	/*--  header --*/
	header{max-width:800px; width:100%; height:100px; border-bottom:1px solid #eee; background-color:#fff; color:#fff; padding:15px; position:fixed; top:0; left:50%; transform: translateX(-50%); box-shadow: 0px 0px 0px 1px #c4c4c4; z-index:10;}
	.headerBox{height: 100%; display:flex; justify-content: space-between; align-items: center;}
	.logo_box{border:1px solid red; width:180px; height:40px;} 
	.logo{display:block; box-sizing: border-box;}
	.search_box{border:1px solid red; position:relative; display:flex;}
	.search_box span:nth-child(1){width:250px;}
	.search_box span:nth-child(2){width:40px; display: flex; align-items: center; justify-content: center;}
	.search_box span input{width:100%; border: 1px solid #ddd; border-radius: 10px; height: 40px; width: 100%; cursor: pointer; padding:5px; font-size:15px;}
	.search_box span svg{color:#289158; font-size:18px;}
	
	/*--  footer --*/
	footer{width: 100%; max-width: 800px; max-height:100px; height:auto; position: fixed; bottom: 0; left: 50%; transform: translateX(-50%); border: 1px solid #aaa; z-index:10;}
	.footerNavbar{ display: flex; flex-direction: row;}
	.footerNavbar a{width:calc(100% / 3);}
	.footerBtnBg1{ background: #f2f2f2;  color:#707070;}
	.footerBtnBg1:focus, .footerBtnBg1:hover{ background: #d7d7d7;}
	.footerBtnBg2{ background: #289158; color:#fff; }
	.footerBtnBg2:focus, .footerBtnBg2:hover{ background: #0b562d; color:#fff; }
	.footerNavbar a{width:100%; display:flex; flex-direction: column;  align-items:center; width: 100%; height: 100px; display: flex; flex-direction: column; align-items: center; justify-content: center;}
	.footerNavbar a span{padding:8px;}
	.footerNavbar a span:nth-child(1) svg{font-size:25px;}
	.footerNavbar a span:nth-child(2){font-size:16px;}
	
	/* 카테고리 메뉴 */
	.cateContBox{display: none; position: fixed; top: 100px; left: 50%; z-index: 9; max-width: 800px; width: 100%; height: 100%; transform: translateX(-50%); background-color: #fff; padding:20px;} 
  	.cateContBox ul{position: absolute; top: 200px; left: 50%; transform: translateX(-50%); }
	.cateContBox ul li{}
	.cateContBox ul li a{padding:10px; display:block; font-size: 24px;}
	#closeModalBtn{position:absolute; top:20px; right:20px;}
	#closeModalBtn svg{font-size:30px; color:#289158;}	
	
	/**/
	.contents{padding:20px 0;}
		
	/*
	.footerNavbar li{width:calc(100% / 3);}
	.footerNavbar li a{width:100%; display:flex; flex-direction: column;  align-items:center;}
	.footerNavbar li:nth-child(odd) a{ background: #f2f2f2;  color:#707070;}
	.footerNavbar li:nth-child(odd) a:focus, .footerNavbar li:nth-child(odd) a:hover{ background: #d7d7d7;}
	.footerNavbar li:nth-child(even) a{ background: #289158; color:#fff; }
	.footerNavbar li:nth-child(even) a:focus, .footerNavbar li:nth-child(even) a:hover{ background: #0b562d; color:#fff; }
	.footerNavbar li a span{padding:8px;}
	.footerNavbar li a span:nth-child(1) svg{font-size:25px; }
	*/

	/*-- contents --*/
	/* container */
	.container{max-width:800px; width:100%;  height:auto;  background-color:#f8f8f8; margin-top:100px; padding:15px; margin:0 auto; padding-top:100px; padding-bottom:100px;}
	
	/*-- 회원가입 폼 --*/
	.registerBox{max-width:600px; margin:0 auto;}
	.regiFlex{display:flex; flex-direction: row; margin-bottom:15px;}
	.regiFlex label{cursor:pointer; width:100%; max-width:120px; font-size:16px; display: flex; align-items: center; font-weight:700;}  
	.regiFlex input{border:1px solid #dedede; border-radius:10px; height: 45px; width: 100%; cursor:pointer; font-size:16px; padding:5px 8px; font-weight:600;} 		
	.regiFlex input[type="file"]{background-color:#fff;}
	
	/*-- 게시물 업로드 --*/
	.uploadBox{border:0px solid red; max-width:600px; margin:0 auto;}
	.uploadFlex{display:flex; flex-direction: row; margin-bottom:15px;}
	.uploadFlex label{border:0px solid blue; cursor:pointer; width:100%; max-width:120px; font-size:16px; display: flex; align-items: center; font-weight:700;}  
	.uploadFlex input{border:1px solid #ddd; border-radius:10px; height: 45px; width: 100%; cursor:pointer; font-size:16px; padding:5px; background-color:#fff;}
	.uploadFlex select{border:1px solid #ddd; border-radius:10px; height: 45px; width: 100%; cursor:pointer; font-size:16px; padding:5px; background-color:#fff;}
	
    /*이미지 업로드 시- 이미지 정사각형 비율 유지하면서 반응형 가능하도록 수정*/
    .showUploadfileBox{border:0px solid blue; padding: 15px 8px; display: flex; justify-content: center; background-color:#fff; border: 0px solid #ddd; border-radius: 10px; margin-bottom:20px;}
	.showUploadfileBox .imgRatioBox{width:100%; height:100%; width:150px; height:150px; /* display: grid; grid-template-column: repeat(auto-fill,minmax(150px,auto)); */ border-radius:50%;  overflow: hidden; box-shadow: inset 0px 0px 2px 2px #aec0b6; }
	.showUploadfileBox .imgRatioBox img{width: 100%; height: 100%; border:none; overflow: hidden; object-fit: cover;  border-radius: 50%;}
	
    /* 진짜 신규 박스 여러 개 */ 
    .showUploadfileBox{margin-bottom:20px; background-color:#fff; padding:15px; padding: 15px 8px;}
    .showUploadfileBox .uploadFlexBox{}
    .showUploadfileBox .uploadFlexBox>ul{display:flex; justify-content: space-evenly; gap:10px; }
    .showUploadfileBox .uploadFlexBox>ul>li{width:150px; height:150px; box-shadow: inset 0px 0px 2px 2px #aec0b6;  border-radius: 50%; box-shadow: inset 0px 0px 2px 2px #aec0b6;}
    .showUploadfileBox .uploadFlexBox>ul>li img{width: 100%; height: 100%; border:none; overflow: hidden; object-fit: cover; box-shadow: inset 0px 0px 2px 2px #aec0b6; border-radius: 50%;}
    /* 인풋 파일에 이미지 업로드 되기 전, 클릭 이벤트 발생하기 전 */
    .active{width: 150px; height: 150px; border-radius: 50%; overflow: hidden; box-shadow: inset 0px 0px 2px 2px #aec0b6; margin: 0 auto; background-color:#fff; background-size: contain;}		
	 		
    /*-- 마이페이지 --*/
    .mypageInfoBox{margin-bottom:20px; background-color:#fff; padding:15px; padding: 15px;}
	.fileUpload{display: grid !important; grid-template-columns: 1fr 5fr 1fr; align-items: center; gap: 10px; margin:20px 0; }
	.fileUpload .mypageProfile{padding:5px; margin-right:10px;}
	.fileUpload .mypageProfile .imgRatioBox{ width:80px; height:80px; border-radius:50%; overflow: hidden; box-shadow: inset 0px 0px 2px 2px #aec0b6;}
	.fileUpload .mypageInfo{}
	.fileUpload .mypageInfo .yourId{font-weight:700; color:#289158;}
	/* 마이페이지 나의 매물 콘텐츠 영역 */
	.slickContBox{height:auto; padding:20px 15px;}
	.slickContBox dl{}
	.slickContBox dl dt{font-size:18px; height: 50px; line-height: 1.4; border: 1px solid red; margin-bottom:15px; max-height: 50px; overflow: hidden; display: -webkit-box; -webkit-box-orient: vertical; -webkit-line-clamp: 2;}
	.slickContBox dl dd:nth-child(2){font-size: 20px; font-weight: 700; margin-bottom:15px;}
	.slickContBox dl dd:nth-child(3){font-size: 16px; margin-bottom:15px;}
	
	/*-- 콘텐츠 페이지 --*/
	.viewProfileBox{display: grid !important; grid-template-columns: 1fr 5fr 1fr; align-items: center; gap: 10px; margin:20px 0; }
	.viewProfileBox .mypageProfile{padding:5px; margin-right:10px;}
	.viewProfileBox .mypageProfile .imgRatioBox{ width:80px; height:80px; border-radius:50%; overflow: hidden; box-shadow: inset 0px 0px 2px 2px #aec0b6;}
	.viewProfileBox .mypageInfo{}
	.viewProfileBox .mypageInfo .yourId{font-weight:700; color:#289158;}
	.viewProfileBox .price{font-size:22px; font-weight: 700; text-align: right;}
	.viewInfoBox{}
	.viewInfoBox dl{}
	.viewInfoBox dl dt{font-size:20px; font-weight: 700; margin-bottom:20px;}
	.viewInfoBox dl dd{font-size:16px;}
	
	
	/* 슬릭 css */
	.slick{margin-bottom:20px;}
	.slick .slickWrapBox{display: grid !important; grid-template-columns: 1fr 2fr;  gap: 10px; grid-auto-rows: 280px; background: #fff;  border: 1px solid #cfcfcf; border-radius: 15px; margin-bottom:20px;}			
	.slick .slickWrapBox .slickImgBox{width:250px !important; height:250px !important; margin: 15px; padding:15px; background:#f7f7f7;}
	.slick .slickWrapBox .slickImgBox img{width:100%; height:100%; /* display: grid; grid-template-column: repeat(auto-fill,minmax(150px,auto)); */  overflow: hidden; object-fit:contain;}
	.slick .slickWrapBox .slickContBox{height:auto; padding:20px 15px;}
	.slick .slickWrapBox .slickContBox dl{}
	.slick .slickWrapBox .slickContBox dl dt{font-size:18px; height: 50px; line-height: 1.4; border: 1px solid red; margin-bottom:15px; max-height: 50px; overflow: hidden; display: -webkit-box; -webkit-box-orient: vertical; -webkit-line-clamp: 2;}
	.slick .slickWrapBox .slickContBox dl dd:nth-child(2){font-size: 20px; font-weight: 700; margin-bottom:15px;}
	.slick .slickWrapBox .slickContBox dl dd:nth-child(3){font-size: 16px; margin-bottom:15px;}
	.slick-slide{height:auto !important;}
	/*이전, 다음*/
	.slick-arrow{position: absolute; top: 50%; transform: translateY(-50%); z-index: 5}
	.slick-prev{left: 8px;}
	.slick-next{right: 8px;}
	.slick-prev svg, .slick-next svg{font-size:35px; color:#28915899;}
	/*slick-dots*/
	.slick-dots{display:flex; justify-content: center; margin:10px 0;}

	/* -- 공통으로 사용할 수 있는 부분 - 협의 필요 --*/
	/*-- buttons --*/
	.btn{cursor:pointer; font-size: 16px;}
	.submitBtn{min-width: 120px; width: calc(100% - 10px); background:#289158; color:#fff; font-size:16px; border:0px solid transparent; padding:15px; }
	.submitBtn:hover, .submitBtn:focus{background:#0b562d;}
	.backBtn{ min-width: 120px; width: calc(100% - 10px);  background:#ccc; color:#000; font-size:16px; border:0px solid transparent; padding:15px; }
	.backBtn:hover{background:#aaa;}
	.backBtn:focus{background:#aaa;}
	.btnBox{border:0px solid red; display:flex; flex-direction: row; align-items: center; justify-content: space-evenly; width:100%; max-width:600px; margin:20px auto auto auto;}
	.tit{font-size:22px;  text-align:center; font-weight:700; margin-top:25px; margin-bottom:25px; }
	.contTit{font-size:20px; margin:15px 0; }
	.contSubTit{font-size:18px; margin:15px 0;}
	.checkBtn{max-width:80px; height: 45px; width: calc(100% - 10px); background:#289158; color:#fff; border:0px solid transparent; padding: 5px;}
	.checkBtn:hover, .checkBtn:focus{background:#0b562d;}
	
	/**/
	.indexContBox{}

	
	/* notice */
	.notice_red{color:red; font-size:16px;}
	.notice_mini{color:red; font-size:14px; margin-bottom:10px;}
	
	/*align*/
	.alignBoxRight{display:flex;  justify-content: flex-end; }
    
	