<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
   PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
   
<mapper namespace="com.example.demo.mapper.BoardFileMapper">
	<insert id="boardFileInsert">
		insert into muinBoardImage (bno, id, filename, uuid, uploadPath, contentfiledate) 
		values(#{bno}, #{id}, #{fileName}, #{uuid}, #{uploadPath}, sysdate)
	</insert>
	
	<select id="boardFileList">
		SELECT * 
		FROM (
		    SELECT * 
		    FROM muinboardimage 
		    where bno=#{bno}
		    ORDER BY contentfiledate DESC
		)
	</select>
	
</mapper>
