<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
   PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
   
<mapper namespace="com.example.demo.mapper.BoardMapper">
   <insert id="boardRegister">
   
   <selectKey keyProperty="bno" order="BEFORE" resultType="int">
			select muinBoard_seq.nextval from dual
	</selectKey>
      insert into muinBoard(bno, id, category, title, price, content, contentDate) 
      values(#{bno}, #{id}, #{category}, #{title}, #{price}, #{content}, sysdate )
   </insert>
   
   <select id="boardList">
   		select * from muinBoard where id=#{id}
   </select>
   
   <select id="boardIndexList">
   	SELECT *
	FROM (
	    SELECT *
	    FROM muinBoard
	    ORDER BY contentdate DESC
	)
	WHERE 5 >= ROWNUM 
   </select>
   
   <select id="boardDigitalList">
   	select * from muinBoard where category='digital'
   </select>
   
   <select id="boardFashionList">
   	select * from muinBoard where category='fashion'
   </select>
   
   <select id="boardETCList">
   	select * from muinBoard where category='etc'
   </select>
   
   <select id="boardViewList">
   	select * from muinBoard where bno=#{bno}
   </select>
</mapper>