<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
<mapper namespace="com.muin.maapper.MeberMapper">

	<insert id="register" parameterType="com.muin.command.MemberVO">
		insert into member(id, pw, name, birth, address, phone, profile) values (#{id}, #{pw}, #{name}, #{birth},
		#{address}, #{phone}, #{profile})
	</insert>
</mapper>